1) What are data structures, and why are they important

- Data structures are ways of organizing and storing data efficiently for easy access and modification.

- Importance:

       Efficiency: Faster data access and modification.

       Optimized Algorithms: Affect the speed and complexity of algorithms.

       Memory Management: Some structures are more memory-efficient.

       Scalability: Essential for handling large datasets.

       Real-World Applications: Used in databases, networking, gaming, etc.


2) Explain the difference between mutable and immutable data types with examples.
- Mutable data types can be changed after they are created.

  Example: Lists, Dictionaries, Sets.
           
- Immutable data types cannot be changed once created.

  Example: Tuples, Strings, Integers.

3) What are the main differences between lists and tuples in Python?

- Main Differences between Lists and Tuples:
Mutability:

      List: Mutable (can be modified).

      Tuple: Immutable (cannot be modified).

- Syntax:

      List: Defined with square brackets [].

      Tuple: Defined with parentheses ().

- Performance:

      List: Slower due to mutability.

      Tuple: Faster as it is immutable.

- Use Case:

      List: Suitable for collections of items that may change.

      Tuple: Suitable for fixed collections of items.

4) Describe how dictionaries store data

- Dictionaries in Python store data as key-value pairs. Each key is unique, and it maps to a specific value. The data is stored in an unordered collection, and keys are used to access their corresponding values efficiently.

5) Why might you use a set instead of a list in Python?

- Use a set instead of a list when you need:

      Unique items (no duplicates).

      Faster lookups (check if item exists quickly).

      Set operations (like union and intersection).

      No order (order doesn't matter).

6) What is a string in Python, and how is it different from a list

- A string in Python is a sequence of characters enclosed in quotes (' or ").

     Differences:

      String: Immutable (cannot be changed after creation).

      List: Mutable (can be changed).

      String: Represents text.

      List: Can hold different data types (integers, strings, etc.).

      String: Supports string-specific operations (concatenation, slicing, etc.).

      List: Supports list-specific operations (adding/removing elements, modifying items).

  7) How do tuples ensure data integrity in Python?

  - Tuples ensure data integrity in Python by being immutable—once created, their data cannot be changed. This prevents accidental modifications and keeps the data safe.

  8) What is a hash table, and how does it relate to dictionaries in Python

  - A hash table is a data structure that stores data in key-value pairs, using a hash function to map keys to specific indices in an array for fast access.

 - Relation to Dictionaries:

   Dictionaries in Python are implemented using hash tables. The keys are hashed to quickly find and retrieve the corresponding values.

9) Can lists contain different data types in Python?

  - Yes, lists in Python can contain different data types. A list can hold integers, strings, floats, or even other lists.

10) Explain why strings are immutable in Python

- Strings are immutable in Python to ensure data integrity and improve performance.
      Efficiency: Immutable objects can be shared safely between multiple parts of a program without the risk of changes affecting other parts.

      Security: It prevents accidental modification of string data.

      Hashability: Strings can be used as dictionary keys because their values do not change

11) What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries offer several advantages over lists for certain tasks:

      Faster Lookups: Accessing values by key in a dictionary is much faster (O(1)) compared to searching through a list (O(n)).

      Key-Value Pairing: Dictionaries store data as key-value pairs, making it easy to associate related data (e.g., "name": "Alice").

      No Duplicates: Keys in a dictionary must be unique, preventing duplicates, while lists allow duplicate items.

      Efficient Updates: It's faster to update values using keys rather than searching and modifying values in a list.

12) Describe a scenario where using a tuple would be preferable over a list

   - A tuple is preferable over a list in situations where the data should not change. For example, when storing constant values that should remain unchanged, such as coordinates, configuration settings, or fixed values.

 - Scenario:

           If you are storing coordinates for a point (x, y, z), you wouldn't want the values to change, so a tuple would be ideal.
           Example: coordinates = (10, 20, 30)

13) How do sets handle duplicate values in Python?

- Sets in Python automatically remove duplicate values. When you add an item to a set, it only keeps unique values, ignoring any duplicates.

14) How does the “in” keyword work differently for lists and dictionaries?
 - The in keyword works differently for lists and dictionaries:

  - In Lists: It checks if an element exists in the list.

         Example:
         my_list = [1, 2, 3]
         print(2 in my_list)  # Output: True
         In Dictionaries: It checks if a key exists in the dictionary, not the value.

         Example:
         my_dict = {"name": "Alice", "age": 25}
         print("name" in my_dict)  # Output: True
         print(25 in my_dict)

15) What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary where the values are themselves dictionaries. It allows you to represent complex data structures like hierarchical relationships.

  - Use Case:
A nested dictionary is useful for representing data with multiple layers, such as information about multiple people, where each person has their own set of attributes (e.g., name, age, address).

         Example:
         people = {
         "Alice": {"age": 25, "city": "New York"},
         "Bob": {"age": 30, "city": "Los Angeles"}
          }

         # Accessing nested data
         print(people["Alice"]["age"])

16) Can you modify the elements of a tuple? Explain why or why not

- No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.

  - Reason:
Immutability ensures that the data inside the tuple remains constant throughout the program, providing data integrity and making them suitable for use as keys in dictionaries.

17) Describe the time complexity of accessing elements in a dictionary.

- The time complexity of accessing elements in a dictionary in Python is O(1) on average, meaning it takes constant time to retrieve a value based on its key.

18) In what situations are lists preferred over dictionaries?

- Lists are preferred over dictionaries in situations where:

 - Order Matters: Lists maintain the order of elements, so when the sequence of items is important, a list is ideal.

        Example: Storing a series of tasks in a specific order.

 - Indexed Access: If you need to access elements by their position (index), lists are better.

        Example: Retrieving the 3rd item in a list of numbers.

  - Homogeneous Data: When you have a collection of similar items (e.g., all numbers or strings) and don't need key-value pairing, lists are simpler.

        Example: A list of temperatures for the week.

19) Why are dictionaries considered unordered, and how does that affect data retrieval

- Dictionaries in Python were considered unordered until Python 3.7, where they started maintaining insertion order. However, even in versions 3.7 and later, dictionaries are still conceptually unordered in the sense that you retrieve values based on keys, not the position of items.

20 ) Explain the difference between a list and a dictionary in terms of data retrieval.

- List: Access data by index (position).

      Example: my_list[1]

      Time Complexity: O(1)

- Dictionary: Access data by key (unique identifier).

      Example: my_dict["name"]

      Time Complexity: O(1) on average

In [ ]:
#Write a code to create a string with your name and print it

name = "Ananya"
print(name)

Ananya

In [ ]:
#Write a code to find the length of the string "Hello World"

string = "Hello World"
length = len(string)
print(length)

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [ ]:
#Write a code to convert the string "hello" to uppercase
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [1]:
#Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]

# Printing the list
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]

# Appending the number 10 to the list
numbers.append(10)

# Printing the updated list
print(numbers)

[1, 2, 3, 4, 10]

In [3]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]

# Removing the number 3 from the list
numbers.remove(3)

# Printing the updated list
print(numbers)

[1, 2, 4, 5]

In [4]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']

# List of elements
letters = ['a', 'b', 'c', 'd']

# Accessing the second element (index 1)
second_element = letters[1]

# Printing the second element
print(second_element)

b

In [5]:
#Write a code to reverse the list [10, 20, 30, 40, 50].

# Original list
numbers = [10, 20, 30, 40, 50]

# Reversing the list
reversed_numbers = numbers[::-1]

# Printing the reversed list
print(reversed_numbers)

[50, 40, 30, 20, 10]

In [6]:
#. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)

# Printing the tuple
print(my_tuple)

(100, 200, 300)

In [7]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

# Tuple of colors
colors = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element (index -2)
second_to_last = colors[-2]

# Printing the second-to-last element
print(second_to_last)

blue

In [8]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)

# Finding the minimum number
min_number = min(numbers)

# Printing the minimum number
print(min_number)

5

In [9]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

# Tuple of animals
animals = ('dog', 'cat', 'rabbit')

# Finding the index of the element "cat"
index_of_cat = animals.index('cat')

# Printing the index of "cat"
print(index_of_cat)

1

In [10]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ('apple', 'banana', 'orange')

# Checking if "kiwi" is in the tuple
is_kiwi_present = 'kiwi' in fruits

# Printing the result
print(is_kiwi_present)

False

In [11]:
#. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

# Creating a set with elements 'a', 'b', and 'c'
my_set = {'a', 'b', 'c'}

# Printing the set
print(my_set)

{'c', 'a', 'b'}

In [12]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

# Set with elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}

# Clearing all elements from the set
my_set.clear()

# Printing the cleared set
print(my_set)

set()

In [13]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

# Set with elements 1, 2, 3, 4
my_set = {1, 2, 3, 4}

# Removing the element 4 from the set
my_set.remove(4)

# Printing the updated set
print(my_set)

{1, 2, 3}

In [14]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Finding the union of the two sets
union_set = set1.union(set2)

# Printing the union of the sets
print(union_set)

{1, 2, 3, 4, 5}

In [15]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding the intersection of the two sets
intersection_set = set1.intersection(set2)

# Printing the intersection of the sets
print(intersection_set)

{2, 3}

In [16]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

# Creating a dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Printing the dictionary
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [17]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

# Original dictionary
person = {'name': 'John', 'age': 25}

# Adding a new key-value pair
person['country'] = 'USA'

# Printing the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [18]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

# Dictionary
person = {'name': 'Alice', 'age': 30}

# Accessing the value associated with the key "name"
name_value = person['name']

# Printing the value
print(name_value)

Alice

In [19]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key "age" from the dictionary
del person['age']

# Printing the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

In [20]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

# Dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Checking if the key "city" exists in the dictionary
key_exists = 'city' in person

# Printing the result
print(key_exists)

True

In [21]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {'name': 'John', 'age': 28, 'city': 'New York'}

# Printing the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 28, 'city': 'New York'}

In [22]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Generating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print(random_numbers)

[21, 35, 60, 62, 71]

In [23]:
#Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index
print(my_list[3])

date

In [24]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'job': 'Engineer'}

# Combining the two dictionaries
combined_dict = {**dict1, **dict2}

# Printing the combined dictionary
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

In [25]:
#. Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list into a set
string_set = set(string_list)

# Printing the set
print(string_set)

{'banana', 'cherry', 'apple'}